// PrimaryButton styles
$primary-button: #f9c75b;
$primary-button-hover: #ecb94a;
$primary-button-outline: #c98f0f;
$primary-button-animation-hover-time: 0.2s;

.btn-aux {
    background-color: #ecb94a;
}